@page {
    size: A4;
    margin: 1cm;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    display: grid;
    grid-template-columns: repeat(3, 6cm); /* 3 columns */
    grid-auto-rows: 6cm; /* Automatically adjust row height */
    gap: 1cm; /* Space between cards */
    margin: auto; /* Center the grid */
    justify-content: center; /* Center horizontally */
    align-content: center; /* Center vertically */
}

.card {
    width: 6cm;
    height: 6cm;
    border: 1px dashed #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.front {
    text-align: center;
    padding: 0.5cm;
    background: hsl(210, 50%, 90%); /* Fallback solid color */
}

.front .artist {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.2cm;
}

.front .year {
    font-size: 2.5em;
    font-weight: bold;
    margin: auto 0; /* Center vertically */
}

.front .song-name {
    font-size: 1em;
    text-align: center;
    margin-bottom: 0.5cm;
}

.front .serial-number {
    font-size: 0.8em;
    position: absolute;
    bottom: 0.5cm;
    left: 0.5cm;
    color: #666;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/card_bg_04.png') no-repeat center center;
    background-size: cover;
}

.back .qr-code {
    width: 4cm;
    height: 4cm;
}
