@page {
    size: A4;
    margin: 1cm;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 8.5cm;
    height: 8.5cm;
    margin: 0.5cm;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    position: relative;
}

.front {
    color: black;
    text-align: center;
    padding: 0.1cm;
}

/* Artist Styling */
.front .artist {
    font-family: 'Oswald', sans-serif; /* A clean, condensed sans-serif font */
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0.5cm;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}

/* Year Styling */
.front .year {
    font-family: 'Roboto', sans-serif; /* Updated to use Roboto Bold */
    font-size: 5.5em;
    font-weight: 700;
    margin: 1.5cm 0;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); */
}

/* Song Name Styling */
.front .song-name {
    font-family: 'Lato', sans-serif; /* A modern sans-serif font with good readability */
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0.5cm;
}

/* Serial Number Styling */
.front .serial-number {
    position: absolute; 
    bottom: 0.1cm;      
    left: 0.1cm;        
    font-size: 0.8em;
    color: white;
}

/* Back Card Styling */
.back {
    background: url('./assets/card_bg_04.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back .qr-code {
    width: 5cm;
    height: 5cm;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
}
