<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cards Front (Page {{ page_number }} of {{ total_pages }})</title>
    {{ css_embedded|safe }}
    <style>
      @page {
        size: A4;
        margin: 5mm;
      }
    </style>
  </head>
  <body>
    <div class="page">
      {% for track in tracks %}
      <div class="card front" style="background: {{ track.gradient }};">
        <div class="artist">{{ track.artist }}</div>
        <div class="year">{{ track.year }}</div>
        <div class="song-name">{{ track.song_name }}</div>
        <div class="serial-number">{{ track.serial_number }}</div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
