<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cards Back (Page {{ page_number }} of {{ total_pages }})</title>
    {{ css_embedded|safe }}
    <style>
      @page {
        size: A4;
        margin: 5mm;
      }
    </style>
  </head>
  <body>
    <div class="page">
      {% for track in tracks %}
      <div class="card back">
        <!-- Because we embed QR code in data URIs, use track.qr_data_uri -->
        <img class="qr-code" src="{{ track.qr_data_uri }}" alt="QR Code" />
        <div class="serial-number">{{ track.serial_number }}</div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
