<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {{ css_embedded|safe }}
  </head>
  <body>
    {% set counter = 0 %}
    <div class="page">
      {% for track in tracks %} {% if counter > 0 and (counter % 9) == 0 %}
    </div>
    <div class="page" style="page-break-before: always">
      {% endif %}
      <div class="card front" style="background: {{ track.gradient }};">
        <div class="artist">{{ track.artist }}</div>
        <div class="year">{{ track.year }}</div>
        <div class="song-name">{{ track.song_name }}</div>
        <div class="serial-number">{{ track.serial_number }}</div>
      </div>
      {% set counter = counter + 1 %} {% endfor %}
    </div>
  </body>
</html>
